In [1]:
import pandas as pd
import seaborn as sns

df = pd.read_csv(r'C:\Users\grogers3\Downloads\archive (1)\Top_Influencers.csv')
df

,Rank,Channel Info,Influence Score,Followers,Avg. Likes,Posts,60-Day Eng Rate,New Post Avg. Likes,Total Likes,Country Or Region
0,1,\ncristiano,92,485.2m,8.7m,3.4k,0.013,6.3m,29.1b,Spain
1,2,kyliejenner,91,370.7m,8.2m,7.0k,0.014,5.0m,57.4b,United States
2,3,\nleomessi,90,363.9m,6.7m,915,0.010,3.5m,6.1b,NaN
3,4,\nselenagomez,93,348.8m,6.1m,1.9k,0.005,1.7m,11.4b,United States
4,5,\ntherock,91,339.4m,1.8m,6.8k,0.003,932.0k,12.6b,United States
...,...,...,...,...,...,...,...,...,...,...
195,196,\nkhabib_nurmagomedov,63,33.6m,680.6k,4.6k,0.009,305.7k,3.1b,Russia
196,197,\ndanbilzerian,84,33.6m,2.2m,1.4k,0.064,2.1m,3.0b,Canada
197,198,\nraisa6690,80,33.6m,227.8k,4.2k,0.003,103.2k,955.9m,Indonesia
198,199,\nluansantana,79,33.5m,193.3k,865,0.003,82.6k,167.2m,Brazil
199,200,\nnancyajram,81,33.4m,382.5k,3.8k,0.004,128.2k,1.5b,France

In [2]:
df.drop(['Country Or Region','New Post Avg. Likes','60-Day Eng Rate', 'Rank', 'Channel Info'], axis = 1, inplace = True)
df.isnull().values.any() == False

True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Influence Score  200 non-null    int64
 1   Followers        200 non-null    object
 2   Avg. Likes       200 non-null    object
 3   Posts            200 non-null    object
 4   Total Likes      200 non-null    object
dtypes: int64(1), object(4)
memory usage: 7.9+ KB

In [ ]:
#tens = dict(k=10e3, m=10e6, b=10e9)
#for x in df['Followers']:
#    factor, exp = x[0:-1], x[-1].lower()
#    ans = int(float(factor) * tens[exp])

In [ ]:
for x in df:
    df[x]=df[x].map(lambda x: x.lstrip('+-').rstrip('bmk'))
    df[x]= df[x].astype(float)