In [1]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('salaries.csv')

In [2]:
df.dropna(inplace = True)
df.reset_index(drop=True,inplace=True)
df

      total_experience_years  annual_base_pay
0                       13.0         125000.0
1                       15.0          65000.0
2                        4.0          86000.0
3                        4.0         105000.0
4                        4.0         110000.0
...                      ...              ...
1599                     1.0          60500.0
1600                     6.0         164000.0
1601                     7.0         150000.0
1602                     5.0          75000.0
1603                     2.0             50.0

[1604 rows x 2 columns]

In [3]:
def testTrainSplit(data):
    length = len(df.index)
    split = int(length*0.7)
    train = data[0:split]
    test = data[split+1:length]
    return train, test
train, test = testTrainSplit(df)

In [16]:
def findSums(a,b,c):
    sums=0
    for i in range(0,len(train)-1):
        sums += abs((abs((a*train["total_experience_years"][i])+(b*train["annual_base_pay"][i])+(c))/((a**2+b**2)**0.5)))
    return sums

def getBestSlope(c):
    compSums=[]
    for i in range(1,15000):
        compSums.append(findSums(i,-1,c))
    ret = compSums[0]
    ret1 = 0
    for i in range(len(compSums)-1):
        if compSums[i+1]<ret:
            ret = compSums[i+1]
            ret1 = compSums.index(ret)
    return ret1-1

yint=51000
maths=getBestSlope(yint)

In [19]:

print(maths)

14997

In [20]:
mse=0
for i in range(1,len(test)-1):
    mse += ((maths*test["total_experience_years"][i+1124]+yint)-test["annual_base_pay"][i+1122])**2
mse = mse/(len(test))
print(mse)

2.078996956401923e+17

In [21]:
from sklearn import linear_model 
from sklearn.metrics import mean_squared_error, r2_score
regr = linear_model.LinearRegression()
regr.fit(train,train["annual_base_pay"])
diabetes_y_pred = regr.predict(test)
print("Coefficients: \n", regr.coef_)
print("Mean squared error: %.2f" % mean_squared_error(test["annual_base_pay"], diabetes_y_pred))

Coefficients:
 [-4.52337019e-12  1.00000000e+00]
Mean squared error: 0.00